.top-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11.5rem;

  padding: 0 3.9rem;
}

.breed-image,
.image {
  width: 37.104rem;
  height: 37.104rem;
  margin-left: auto;
}

.breed-description {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.name {
  font-size: 3.6rem;
  font-weight: 600;
}

.description {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.label,
.text {
  font-size: 1.6rem;
  font-weight: 400;
}

.label {
  font-weight: 700;
}

.scales {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
