.li {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
}

.ul {
  display: flex;
  gap: 0.849rem;
}

.unfilled-box,
.filled-box {
  width: 6rem;
  height: 1.2rem;
  border-radius: 0.8rem;
}

.filled-box {
  background-color: #544439;
}

.unfilled-box {
  background-color: #e0e0e0;
}
