.wrapper {
  height: 8rem;
  border-radius: 4.2rem 4.2rem 0 0;
  padding: 0rem 3.243rem 0 10.8rem;

  background-color: #000;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copywrite {
  font-size: 1.8rem;
}

.copywrite a,
.copywrite a:link,
.copywrite a:visited,
.copywrite a:active {
  color: rgb(13, 235, 32);
  text-decoration: none;
  font-weight: 700;

  display: inline-block;
  padding-bottom: 0 0.5rem 0.5rem 0.5rem;
  width: 26rem;
  border-bottom: 1px solid rgb(13, 235, 32);
  text-align: center;
}

.copywrite a:hover {
  color: rgba(41, 21, 7, 0.6);
  background-color: rgb(13, 235, 32);
  font-weight: 400;

  box-shadow: 0 1rem 2rem rgba(#000, 0.15);
  transform: translateY(-2px);

  border-radius: 12px;
}

.copywrite a:active {
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
  transform: translateY(0);
}
