.image-wrapper {
  background-color: green;

  border-radius: 2.4rem;
}
.image {
  width: 100%;
  height: 100%;
}

.wrapper p {
  margin-top: 2rem;
  font-size: 14px;
  font-weight: 600;
}

.small {
  width: 20rem;
  height: 20rem;
}

.large {
  width: 27.8rem;
  height: 27.8rem;
}
